---
import { Image } from 'astro:assets';

import { appleImg, searchImg, bagImg } from '../utils';
import { navLists } from '../constants';
---

<header
  class='w-full py-5 sm:px-10 px-5 flex justify-between items-center'
>
  <nav class='flex w-full screen-max-width'>
    <Image
      src={appleImg}
      alt='Apple logo'
      width={14}
      loading='eager'
      decoding='sync'
    />

    <div class='flex flex-1 justify-center max-sm:hidden'>
      {
        navLists.map((nav, i) => (
          <div class='px-5 text-sm cursor-pointer text-gray hover:text-white transition-all'>
            {nav}
          </div>
        ))
      }
    </div>

    <div
      class='flex gap-7 items-baseline max-sm: justify-end max-sm:flex-1'
    >
      <Image
        src={searchImg}
        alt='Search icon'
        width={18}
        loading='eager'
        decoding='sync'
      />

      <Image
        src={bagImg}
        alt='Bag icon'
        width={18}
        loading='eager'
        decoding='sync'
      />
    </div>
  </nav>
</header>
